<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ДемоЭкз.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=sqlstud;Password=16is30;User ID=16is30;Initial Catalog=16is30"
            providerName="System.Data.OleDb" />
        <add name="ДемоЭкз.Properties.Settings._16is30ConnectionString"
            connectionString="Data Source=sqlstud;Initial Catalog=16is30;User ID=16is30;Password=16is30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>